*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#img2{
    width: 16px;
}
#img1{
    width: 16px;
   
}
#logo{
    width: 30px;
}
#header1{
    background-color: grey;
    display: flex;
flex-direction : row;
justify-content : center;
align-items : center; 
margin-bottom: 4px;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
#header1 .container{

    display: flex;
flex-direction : row;
justify-content : center;
align-items : center; 
}
#header2{
    background-color: lightblue;
}
#header2 .container{
  
    display: flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;    
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
#name1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.icons{
    size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 4px;
    align-items: center;
}
header{
    border-bottom: 3px solid rgb(168, 15, 15);
}
.featuredcategory{
    padding: 48px 32px;
    background-position: ccenter;
    background-size: cover;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
border-radius: 16px;
}
.Fruits{
    background-image: url("https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png");
    margin-top: 2px;
    margin-bottom: 2px;
}
.breads{
    background-image: url("http://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg");
    margin-top: 2px;
    margin-bottom: 2px;
}
.featuredcategory h3{
    font-size: 24px;
margin-bottom: 4px;

}
.span2{
    color: grey;
    font-weight: 70%;
}
.featuredcategory a{
    margin-top: 16px;
    text-decoration: none;
    display: inline-block;
    color: white;

    background-color: black;
    padding: 8px 16px;
border-radius: 4px;}